.preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
    box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
    padding-bottom: 0;
    padding-top: 0;
    padding: 15px;
    margin-left: 21px;
    width: calc(65vw - 30px);
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.preview-container:hover {
    color: #202124;
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.preview-container:hover .mail-date {
    display: none;
}

.preview-container .full-screen-container,
.preview-container .trash-container,
.preview-container .reading-container {
    display: none;
}

.preview-container:hover .trash-container,
.preview-container:hover .reading-container {
    display: unset;
}

.preview-container>* :not(.star) :not(.date) {
    display: flex;
    justify-content: flex-start;
}

.preview-container>* {
    padding: 8px;
}

.preview-container:hover .star {
    opacity: 0.60;
}

.preview-container .star {
    font-size: 25px;
    width: 20px;
    height: 20px;
    box-sizing: content-box;
    opacity: 0.20;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-self: flex-start;
}

.preview-container .star:hover {
    opacity: unset;
}

.preview-container .star.marked {
    color: gold;
    opacity: unset;
}

.preview-container .content {
    overflow: hidden;
    max-width: calc(100vw - 16.25rem);
    display: flex;
    align-self: flex-start;
}

.preview-container .subject {
    overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: .3px;
}


.preview-container .subject:not(.active) {
    min-width: max-content;
}

.preview-container .subject:not(.active)::after {
    content: " - ";
}

.preview-container .body {
    align-self: flex-start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: .3px;
    color: rgba(0, 0, 0, 0.603);
}

.preview-container .mailAddress {
    flex-basis: 15%;
    min-width: 116px;
    align-self: flex-start;
}

.preview-container .mail-date {
    width: 10%;
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
    margin-right: 30px;
}

.preview-container .mailAddress.unread,
.preview-container .subject.unread,
.preview-container .mail-date.unread {
    font-weight: 800;
}

.preview-container .trash-container,
.preview-container .reading-container {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    box-sizing: content-box;
}

.preview-container .trash-container {
    right: 63px;
}

.preview-container .reading-container {
    right: 30px;
}

.preview-container .reading-container:hover,
.preview-container .trash-container:hover,
.preview-container .full-screen-container:hover,
.preview-container .star:hover {
    background-color: rgba(128, 128, 128, 0.103);
    border-radius: 50%;
}

/* //ACTIVE MAIL */

.preview-container.active {
    border: 1px solid rgba(128, 128, 128, 0.205);
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.preview-container.active .full-screen-container,
.preview-container.active .trash-container,
.preview-container.active .star {
    position: absolute;
    top: 5px;
}

.preview-container.active .star {
    right: 70px;
    top: 3px;
    height: 20px;
    width: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-container.active .full-screen-container,
.preview-container.active .trash-container {
    width: fit-content;
    display: unset;
}

.preview-container.active .full-screen-container {
    right: 10px;
    width: 20px;
    height: 20px;
    box-sizing: content-box;
}

.preview-container.active .trash-container {
    right: 40px;
}

.preview-container.active .full-screen-container img {
    height: 20px;
    width: 20px;
}

.preview-container.active .mail-date,
.preview-container.active .reading-container {
    display: none;
}

.preview-container.active .subject,
.preview-container.active .mailAddress,
.preview-container.active .body {
    display: flex;
    justify-content: flex-start;
}

.preview-container.active .subject {
    position: absolute;
    left: 26px;
    top: 30px;
    font-size: 16px;
    font-weight: 700;
}

.preview-container.active .mailAddress {
    position: absolute;
    top: 55px;
    left: 19px;
}

.preview-container.active .body {
    position: absolute;
    left: 27px;
    transform: translate(-50%);
    top: 95px;
    white-space: pre-wrap;
    transform: translate(0);
    line-height: 20px;
}

/* // MQ */

@media (min-width: 480px) {
    .preview-container {
        width: calc(73vw - 30px);
    }
}

@media (min-width: 630px) {
    .preview-container {
        width: calc(98vw - 16.25rem);
        padding-bottom: 10px;
        padding-top: 10px;
        position: relative;
        margin-left: unset;
    }

    .preview-container .content {
        max-width: calc(65vw - 14.25rem);
    }
}

@media (min-width: 950px) {
    .preview-container {
        flex-direction: unset;
        height: 40px;
    }

    .preview-container .star {
        align-self: center;

    }

    .preview-container .content {
        display: unset;
    }

    .preview-container .mailAddress {
        align-self: unset;
    }

    .preview-container .content {
        align-self: unset;
    }
}