.preview-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 40px;
    box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
    padding-bottom: 10px;
    padding-top: 10px;
    padding: 15px;
    width: calc(98vw - 16.25rem);
    font-size: 0.8rem;
    cursor: pointer;
}

.preview-container:hover {
    color: #202124;
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.preview-container:hover .mail-date {
    display: none;
}

.preview-container .trash-container,
.preview-container .reading-container {
    display: none;
}

.preview-container:hover .trash-container,
.preview-container:hover .reading-container {
    display: unset;
}

.preview-container>* :not(.star) :not(.date) {
    display: flex;
    justify-content: flex-start;
}

.preview-container>* {
    padding: 8px;
}

.preview-container:hover .star {
    opacity: 0.60;
}

.preview-container .star {
    font-size: 25px;
    cursor: pointer;
    opacity: 0.20;
}

.preview-container .star:hover {
    opacity: unset;
}

.preview-container .star.marked {
    color: gold;
    opacity: unset;
}

.preview-container .content {
    width: 70%;
    overflow: hidden;
}

.preview-container .subject {
    overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.preview-container .subject:not(.active)::after {
    content: " - ";
}

.preview-container .body {
    align-self: flex-start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.preview-container .mailAddress {
    width: 15%;
}

.preview-container .mail-date {
    width: 10%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.preview-container .mailAddress.unread,
.preview-container .subject.unread,
.preview-container .mail-date.unread {
    font-weight: 800;
}

.preview-container .trash-container,
.preview-container .reading-container {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.preview-container .trash-container {
    right: 50px;
}

.preview-container .reading-container {
    right: 20px;
}

/* //ACTIVE MAIL */

.preview-container.active {
    border: 1px solid rgba(128, 128, 128, 0.205);
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.preview-container.active .trash-container,
.preview-container.active .star {
    position: absolute;
    top: 5px;
}

.preview-container.active .star {
    left: 10px;
    height: fit-content;
    width: fit-content;
    font-size: 25px;
    display: flex;
    align-items: flex-start;
}

.preview-container.active .trash-container {
    left: 40px;
    width: fit-content;
    display: unset;
}

.preview-container.active .reading-container {
    display: none;
}

.preview-container.active .subject,
.preview-container.active .mail-date,
.preview-container.active .mailAddress,
.preview-container.active .body {
    display: flex;
    justify-content: center;
}


.preview-container.active .subject:before {
    content: 'Subject:';
    margin-right: 30px;
    font-weight: 700;
}

.preview-container.active .subject {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 10px;
}

.preview-container.active .mail-date {
    position: absolute;
    top: 58px;
    width: 10%;
}

.preview-container.active .mailAddress {
    position: absolute;
    top: 35px;
}

.preview-container.active .body {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 100px;
    white-space: pre-wrap;
}