.mail-filter-box-container {
    height: 46px;
    width: 680px;
    display: flex;
    justify-content: center;
    font: 0.8125rem/1.6875rem;
    background-color: #f1f3f4;
    border-radius: 7px;
    line-height: 1.6875px;
    position: absolute;
    left: 267px;
    top: 50%;
    transform: translate(0, -50%);
}

.mail-filter-box-container input {
    width: 80%;
    height: 100%;
    font-size: 1rem;
    background: none;
    border: none;
}

.mail-filter-box-container input:focus-visible {
    outline: none;
}