.mail-details-container {
    display: flex;
    height: fit-content;
    position: relative;
}

.mail-details-container .content-container {
    width: calc(84vw - 30px);
    height: 70vh;
    margin-top: 54px;
    overflow-y: scroll;
    padding-right: 10px;
}

.mail-details-container .mail-details-tools-container {
    width: calc(98vw - 6.25rem);
    display: flex;
    align-items: center;
    height: 48px;
    box-shadow: inset 0 -1px 0 0 #dadce093;
    position: absolute;
    top: 0;
    padding-left: 16px;
}

.mail-details-container .mail-details-tools-container>* {
    color: grey;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
}

.mail-details-container .mail-details-tools-container>*:hover {
    background-color: rgba(128, 128, 128, 0.103);
    color: rgb(22, 22, 22);
    border-radius: 50%;
}

.mail-details-container .mail-details-tools-container .trash-container-mail-details:hover {
    content: url("../img/delete-icon.png");
}


.mail-details-container .back-btn-mail-details {
    text-decoration: none;
}

.mail-details-container .subject {
    font-weight: 700;
    font-size: 16px;
    height: 70px;
    min-height: fit-content;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.mail-details-container .to,
.mail-details-container .from {
    display: flex;
    font-size: 14px;
    padding-bottom: 7px;
    margin-left: 30px;
    font-weight: 600;
}

.mail-details-container .to span,
.mail-details-container .from span {
    margin-left: 15px;
    font-weight: 500;
}

.sub-and-date-container {
    display: flex;
    padding-bottom: 7px;
    justify-content: space-between;
}

.sub-and-date-container .date {
    font-size: 12px;
    min-width: fit-content;

}

.mail-details-container .body {
    max-width: 700px;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 23px;
    white-space: pre-wrap;
    padding-bottom: 20px;
}

/* // MQ */

@media (min-width: 630px) {
    .mail-details-container .content-container {
        width: calc(95vw - 16.25rem);
    }

}

@media (min-width: 800px) {
    .mail-details-container .subject {
        font-size: 19px;
    }
}