.note-img {
  width: 100%;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  background-color: transparent;
}
.note-img-container {
  border-radius: 8px;
}

.note-img-description {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* height: 80px; */
  /* height: 40px; */
}

.note-img-description h4 {
  margin: unset;
  /* padding-top: 10px; */
  /* padding-left: 20px; */
  height: 40px;
}
