.note-add {
  width: 250px;
  z-index: 10;
  border: 1px solid transparent;
  border-radius: 8px;
  line-height: 50px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  /* margin: 20px; */
  margin: 32px auto 32px auto;
  background-color: #fff;
  position: relative;
}

.note-add-title.hide {
  display: none;
}

.note-add form {
  border-radius: 8px;
  border: none;

  outline: none;
  position: relative;
}

.note-add form input {
  outline: none;
  padding: 12px 16px 12px 16px;
  width: 100%;
  font-size: 16px;
  border: solid transparent;
  letter-spacing: 0.2px;
  height: 100%;
}

.note-add form input::placeholder {
  color: #202124;
}

.note-add form input:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.note-add form input:nth-child(2) {
  border-radius: 8px;
}

.form-actions {
  height: 30px;
  /* width: 598px; */
  width: auto;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.note-create-btn {
  cursor: pointer;
  background-color: unset;
  outline: none;
  border: none;
  position: absolute;
  bottom: 0;
  margin-right: 15px;
  width: 86px;
  height: 36px;
  right: 0;
  margin-bottom: 4px;
  border-radius: 4px;
}

.note-create-btn:hover {
  background-color: rgba(95, 99, 104, 0.039);
}

.type-btns {
  display: flex;
  justify-content: space-between;
  /* width: 150px; */
  right: 50px;
  top: 60px;
  position: absolute;
}

.type-btns > * {
  border: none;
  color: rgb(114 114 114);
  font-size: 1rem;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: unset;
}

.type-btns > *:hover {
  opacity: 0.87;
  background-color: rgba(95, 99, 104, 0.157);
  color: rgb(24, 24, 24);
}

@media (min-width: 420px) {
  .note-add {
    width: 300px;
  }
  .type-btns {
    right: 20px;
    top: 5px;
  }
}

@media (min-width: 520px) {
  .note-add {
    width: 420px;
  }
}

@media (min-width: 800px) {
  .note-add {
    width: 500px;
  }
}

@media (min-width: 900px) {
  .note-add {
    width: 598px;
  }
}

/* .type-btns {
  display: flex;
  justify-content: space-between;
  right: 20px;
  top: 5px;
  position: absolute;
} */

/* 
.note-add {
  width: 250px;
  z-index: 10;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  
  margin: 32px auto 16px auto; //!!!!!!!!

  background-color: #fff;
  position: relative;
} */
