.note-img {
  width: 100%;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  background-color: transparent;
}
.note-img-container {
  border-radius: 8px;
}

.note-img-description {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 10px;
}

.note-img-description h4 {
  margin: unset;
  font-weight: 600;

  height: 30px;
}
