.about {
  height: 80vh;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 10px;
  height: 90vh;
  width: 100vw;
  margin: 0;
  background-color: #f1f1f1;
}

.developer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(49, 49, 49);
  position: relative;
  top: 30px;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
  max-width: 500px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.233);
  border-radius: 15px;
}

.dev-name {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .about {
    flex-direction: column;
    height: 90vh;
  }

  .about-us-container {
    line-height: 25px;
  }

  .about img {
    width: 285px;
    height: 285px;
  }
} ;
