.about {
  height: 80vh;
  display: flex;
  text-align: center;
}

.about h1 {
  font-size: 3rem;
  /* justify-content: center;
  position: relative;
  /* left: 50%; */
  /* transform: translate(50%); */
}
