.app-header {
  z-index: 20;
  position: relative;
  font-size: 1.4rem;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: inset 0 -1px 0 0 #dadce0;
}

.app-header a {
  text-decoration: none;
  color: black;
}

.app-header h3 {
  font-size: 1.2rem;
  color: #5f6368;
}

nav {
  position: absolute;
  right: 17.5px;
  top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
}

.openMenu {
  box-sizing: content-box;
  display: flex;

  flex-wrap: wrap;
  width: 300px;
  background-color: #fff;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  background-color: #fff;
  padding-left: 12px;
  padding-top: 12px;
  position: absolute;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%),
    0px 2px 6px 2px rgb(60 64 67 / 15%);
  z-index: 1;
  padding-left: 12px;
  padding-top: 12px;
  position: absolute;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%),
    0px 2px 6px 2px rgb(60 64 67 / 15%);
}

.openMenu a {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin: 6px;
  margin-bottom: 15px;
  width: 84px;
  height: 84px;
  border-radius: 8px;

  text-align: center;
  line-height: 35px;
  font-size: 14px;
  padding-top: 15px;
}

.openMenu a:hover {
  background-color: #e8f0fe;
  border: none;
}

.menu {
  position: absolute;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: #5f6368;
}

.keep-img {
  padding-top: 3px;
  width: 40%;
}

.menu-book img {
  width: 48px;
}

.keep-header {
  align-self: center;
  width: 40px;
  height: 44px;
  padding-right: 10px;
  position: relative;
  left: 5px;
}

.app-header h3 {
  padding-left: 5px;
  font-weight: 500;
  font-size: 20px;
}

.search-btn {
  border: none;
  outline: none;
  height: 35px;
  width: 35px;
  font-size: 1.15rem;
  border-radius: 50px;
  background-color: unset;
}

.search-btn:hover {
  opacity: 0.87;
  background-color: rgba(95, 99, 104, 0.157);
}

img[src='./assets/img/home.png'] {
  width: unset;
}

img[src='./assets/img/about.png'] {
  width: unset;
}

.app-header .mail-filter-box-container input {
  width: 94%;
  padding-left: 10px;
}

.app-header .mail-filter-box-container {
  width: 40%;
}

.app-header .mail-filter-box-container input::-webkit-input-placeholder {
  font-family: open-sans;
  font-size: 0.95rem;
}

.appsus {
  background-color: #f1f1f1;
}

@media (min-width: 400px) {
  .app-header .mail-filter-box-container {
    width: 45%;
  }
}
