.home {
  height: 80vh;
  /* background-image: url('../../img/bg.jpg');
  background-size: contain; */
  /* background-position-x: -100px; */
  overflow: hidden;
}

.bg-img {
  position: fixed;
  left: 0%;
  top: 0;
  z-index: -1;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.home h1:nth-child(2) {
  font-size: 6rem;
  width: 500px;
  left: 5%;
  top: 350px;
  /* left: 69%; */
  /* top: 40%; */
  color: rgb(42, 42, 42);
}
.home h1 {
  /* text-shadow: #aaa 0px 0px 1px, #aaa 0px 0px 1px, #aaa 0px 0px 1px,
    #aaa 0px 0px 1px, #aaa 0px 0px 1px, #aaa 0px 0px 1px; */
  -webkit-font-smoothing: antialiased;
  color: rgb(20, 20, 20);
  font-family: monsterrat;
  font-size: 4em;
  position: relative;
  /* word-spacing: -40px; */
  /* letter-spacing: -5px; */
}

.home span {
  color: #e9c04d;
}

.welcome {
  top: -40px;
  /* font-size: 6rem; */
  /* position: relative; */
  width: 700px;
  left: 5%;
  /* transform: translate(-50%); */
  font-size: 3rem;
}
