.home {
  height: 90vh;
  /* background-image: url('../../img/bg.jpg');
  background-size: contain; */
  /* background-position-x: -100px; */
  overflow: hidden;
}

.bg-img {
  position: fixed;
  left: 0%;
  top: 0;
  z-index: -1;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-top: 65px;
}
.home h1:nth-child(2) {
  font-size: 4rem;
  width: 500px;
  left: 4%;
  top: 220px;
  /* left: 69%; */
  /* top: 40%; */
  color: rgb(42, 42, 42);
}
.home h1 {
  /* text-shadow: #aaa 0px 0px 1px, #aaa 0px 0px 1px, #aaa 0px 0px 1px,
    #aaa 0px 0px 1px, #aaa 0px 0px 1px, #aaa 0px 0px 1px; */
  -webkit-font-smoothing: antialiased;
  color: rgb(20, 20, 20);
  font-family: monsterrat;
  /* font-size: 4em; */
  position: relative;
  /* word-spacing: -40px; */
  /* letter-spacing: -5px; */
}

.home span {
  color: #cda22d;
}

.welcome {
  top: 0px;
  /* font-size: 6rem; */
  /* position: relative; */
  width: 700px;
  left: 4%;
  /* transform: translate(-50%); */
  font-size: 4rem;
}

.call-action-btn {
  position: relative;
  top: 170px;
  left: 4%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 330px;
  height: 80px;
  background-color: #cda22d;
  border-radius: 10px;
}

.call-action-btn a {
  padding-left: 15px;
  color: white;

  text-decoration: none;
  font-family: monsterrat;
  font-size: 3rem;
}

/* background-color: #303030; */

@media (max-width: 400px) {
  .welcome {
    top: 15px;
    width: 408px;
    font-size: 2.5rem;
    margin: 0;
  }

  .home h1:nth-child(2) {
    color: white;
    font-size: 2.5rem;
    width: 300px;
  }

  .call-action-btn {
    top: 190px;
    height: 60px;
    width: 280px;
  }

  .call-action-btn a {
    font-size: 2.5rem;
  }
}

@media (max-width: 700px) {
  .welcome {
    top: 15px;
    width: 408px;
    font-size: 2.5rem;
    margin: 0;
  }

  .home h1:nth-child(2) {
    color: white;
    font-size: 2.5rem;
    width: 300px;
    top: 410px;
  }

  .call-action-btn {
    top: 375px;
    height: 60px;
    width: 280px;
  }

  .call-action-btn a {
    font-size: 2.5rem;
  }
}
